:root {
  --lightbg: rgb(44, 36, 59);
  --bg: rgb(32, 28, 45);
  --darkbg: rgb(24, 22, 36);
  --darkerbg: rgb(18, 17, 27);
  --warning: rgb(255, 86, 86);
  --blackTP: rgba(0, 0, 0, 50%);
  --blackTP2: rgba(0, 0, 0, 75%);
  --hitbox: rgba(0, 0, 255, 10%);
  --hitbox2: rgba(255, 0, 0, 10%);
  --hitbox3: rgba(0, 255, 0, 10%);
  --hitbox4: rgba(255, 255, 0, 10%);
  --goldeneddie-timer: 0%;
}

@font-face {
  font-family: renogare;
  src: url("fonts/renogare.otf");
}

@font-face {
  font-family: inconsolata;
  src: url("fonts/inconsolata.ttf");
}

@font-face {
  font-family: deca;
  src: url(fonts/deca.ttf);
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bg);
  font-family: deca;
  user-select: none;
}

p,
a,
span {
  color: white;
  margin: 0;
  text-decoration: none;
}

a:hover {
  transform: scale(105%);
}

a:active {
  transform: scale(100%);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.loader-wrapper {
  background-color: var(--bg);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  transition: opacity ease-in-out 0.5s;
}

.loader {
  width: 50px;
  height: 50px;
  font-weight: 600;
  animation: loader linear 2s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.warning {
  position: absolute;
  background-color: var(--warning);
  width: 300px;
  height: fit-content;
  bottom: 0;
  right: -350px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  transition: right 0.75s cubic-bezier(0.75, -0.5, 0.25, 1.5);
}

.warning:hover {
  transform: scale(101%);
}

.warning:active {
  transform: scale(99%);
}

.warning-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.warning-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.warning-title {
  font-size: 1.5em;
  font-weight: 600;
}

.warning-desc {
  font-size: 1.25em;
}

.warning-img {
  filter: invert();
  margin-top: 3px;
  width: 40px;
  height: 40px;
}

.topper {
  background-color: var(--darkbg);
  padding: 5px;
  border-bottom: 2px solid var(--darkerbg);
  font-family: renogare;
}

.topper-divider {
  display: inline;
  color: var(--darkerbg);
}

.goldeneddie-counter {
  position: absolute;
  background-color: yellow;
  height: 1px;
  width: 0%;
}

.goldeneddie-counter-ani {
  animation: goldeneddie-counter 30s linear;
}

@keyframes goldeneddie-counter {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.debread {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 1920px;
  background-image: url(images/gradient.png);
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
  }
  100% {
    background-position: 1920px;
  }
}

.version {
  float: right;
  padding-right: 10px;
  color: grey;
  opacity: 50%;
  bottom: 0;
}

.goldeneddie-container-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.goldeneddie-container {
  width: 80%;
  height: 75%;
  position: relative;
}

.goldeneddie {
  position: absolute;
  width: 150px;
  z-index: 10;
  transform: scale(0%);
  transition: transform ease-in-out 2s;
  cursor: pointer;
  pointer-events: all;
}

.alert {
  margin-top: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transform: scale(75%);
}

.alert-text {
  background-color: rgba(0, 0, 0, 50%);
  margin: 0 auto;
  width: 0px;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}

.label-left {
  width: 100px;
  height: 20px;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 5px;
  position: fixed;
  top: 3em;
  left: 60px;
  padding: 5px;
  color: #313333;
  text-align: center;
  font-size: 1.25em;
  transform: translateX(10px);
  transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s,
    width ease-in-out 0.25s, top ease-in-out 0.25s, height ease-in-out 0.25s;
  opacity: 0;
  color: white;
  cursor: default;
  font-weight: 600;
}

.label-left:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 50%);
  position: absolute;
  left: -10px;
  top: 5px;
  margin-left: -10px;
}

.settings {
  position: absolute;
  margin: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.25s ease-in-out, width 0.25s ease-in-out,
    height 0.25s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  z-index: 3;
  user-select: none;
  font-weight: 600;
}

.settings-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}

.settings-text {
  width: 100%;
  text-align: center;
  padding-right: 40px;
  transition: color 0.1s ease-in-out;
}

.settings-img {
  cursor: pointer;
  filter: invert();
  width: 30px;
  margin: 5px;
  z-index: 2;
}

.settings-img:hover {
  transform: scale(110%);
}

.settings-img:active {
  transform: scale(100%);
}

.settings-title {
  text-align: center;
  font-size: 1.25em;
  position: absolute;
}

.settings-content {
  transition: opacity, 0.25s ease-in-out;
  text-align: center;
  opacity: 1;
}

.settings-text {
  font-size: 1.25em;
}

.settings-deletebutton {
  background-color: var(--darkbg);
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
  cursor: pointer;
  margin-top: 10px;
}

.settings-deletebutton:hover {
  transform: scale(105%);
}

.settings-deletebutton:active {
  transform: scale(100%);
}

.settings-defaultbutton {
  background-color: var(--darkbg);
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
  margin-top: 10px;
}

.settings-defaultbutton:hover {
  transform: scale(105%);
}

.settings-defaultbutton:active {
  transform: scale(100%);
}

.setting-1 {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.setting-checkbox-1-text {
  font-size: 1.25em;
}

.settings-checkbox {
  width: 25px;
  filter: invert();
  cursor: pointer;
}

.settings-checkbox:hover {
  transform: scale(110%);
}

.settings-checkbox:active {
  transform: scale(100%);
}

.setting-checkbox-2-text {
  font-size: 1.25em;
}

.credits {
  position: absolute;
  top: 60px;
  margin: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s,
    background-color ease-in-out 0.25s;
  z-index: 2;
}

.credits-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.credits-img:hover {
  transform: scale(110%);
}

.credits-img:active {
  transform: scale(100%);
}

.credits-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.credits-text {
  width: 100%;
  text-align: center;
  padding-right: 40px;
  font-weight: 600;
  transition: color 0.1s ease-in-out;
}

.credits-content {
  transition: opacity, 0.25s ease-in-out;
  text-align: center;
  opacity: 0;
}

.credits-link {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 600;
}

.credits-link:hover {
  font-size: 1.35em;
}

.stats {
  position: absolute;
  top: 95px;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.stats-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.stats-img:hover {
  transform: scale(110%);
}

.stats-img:active {
  transform: scale(100%);
}

.devtools {
  position: absolute;
  top: 130px;
  margin: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s,
    background-color ease-in-out 0.25s;
}

.devtools-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.devtools-img:hover {
  transform: scale(110%);
}

.devtools-img:active {
  transform: scale(100%);
}

.devtools-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.devbutton {
  margin: 0 auto;
  border: 1px solid grey;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.devbutton:hover {
  transform: scale(105%);
}

.devbutton:active {
  transform: scale(100%);
}

.achievement {
  position: absolute;
  display: flex;
  gap: 10px;
  background-color: var(--darkbg);
  width: 300px;
  cursor: pointer;
  top: 50px;
  padding: 5px;
  left: -350px;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  transition: left 0.75s cubic-bezier(0.75, -0.5, 0.25, 1.5);
}

.achievement:hover {
  transform: scale(101%);
}

.achievement:active {
  transform: scale(100%);
}

.achievement-img {
  width: 40px;
  height: 40px;
}

.achievement-title {
  font-size: 1.5em;
  font-weight: 600;
}

.achievement-desc {
  font-size: 1.25em;
  color: grey;
}

.all {
  display: flex;
  height: calc(100vh - 250px);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.counter {
  text-align: center;
  font-size: 3em;
  height: 40px;
}

.counter-ani {
  font-size: 3em;
  color: white;
  animation: counter-ani linear 0.5s;
}

@keyframes counter-ani {
  0% {
    color: yellow;
  }

  100% {
    color: white;
  }
}

.cps {
  transition: color ease-in-out 0.25s;
}

.eddie {
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  transition: transform ease-in-out 0.05s;
  cursor: pointer;
  user-select: none;
}

.eddie:hover {
  transform: scale(105%);
}

.eddie:active {
  transform: scale(100%);
}

.counters {
  text-align: center;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upgrades-all {
  position: relative;
  text-align: center;
  background-color: var(--darkbg);
  padding: 5px;
  font-size: 1.5em;
}

.no-upgrades {
  width: 300px;
  height: 50px;
  background-color: var(--darkerbg);
  color: grey;
  user-select: none;
}

.upgrades-header {
  display: flex;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
}

.upgrades-header-img {
  filter: invert();
  width: 25px;
  transition: transform ease-in-out 0.1s;
}

.upgrades {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.upgrade-tooltip {
  position: absolute;
  top: 30px;
  left: -225px;
  user-select: none;
  text-align: center;
  background-color: var(--blackTP);
  width: 200px;
  border-radius: 5px;
  transition: opacity ease-in-out 0.25s, left ease-in-out 0.25s;
  opacity: 0;
}

.upgrade-tooltip:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--blackTP);
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: -20px;
  top: 16px;
  margin-left: -10px;
}

.upgrade-tooltip-name {
  padding: 5px;
  font-size: 1em;
  font-weight: 600;
}

.upgrade-tooltip-desc {
  color: gray;
  font-size: 0.75em;
}

.upgrade-tooltip-price {
  font-size: 0.75em;
  font-weight: 600;
}

.upgrade {
  width: 50px;
  cursor: pointer;
}

.upgrade:hover {
  transform: scale(105%);
}

.upgrade:active {
  transform: scale(100%);
}

.spell-tooltip {
  position: absolute;
  background-color: var(--blackTP);
  padding: 5px;
  border-radius: 5px;
  left: -200px;
  width: 150px;
  text-align: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s, left ease-in-out 0.25s;
}

.spell-tooltip:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--blackTP);
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: -20px;
  top: 16px;
  margin-left: -10px;
}

.spells-all {
  background-color: var(--darkbg);
  width: 300px;
  padding: 5px;
  position: relative;
}

.spells-header {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.spell-title {
  font-size: 1.25em;
  font-weight: 600;
}

.spells {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.spell {
  width: 50px;
}

.spell:hover {
  transform: scale(105%);
}

.spell:active {
  transform: scale(100%);
}

.item-tooltip {
  background-color: var(--blackTP);
  padding: 5px;
  position: absolute;
  width: 150px;
  height: 40px;
  left: -200px;
  top: 0px;
  opacity: 0;
  z-index: 5;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  transition: opacity ease-in-out 0.25s, top ease-in-out 0.25s,
    left ease-in-out 0.25s;
}

.item-tooltip:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--blackTP);
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: -20px;
  top: 16px;
  margin-left: -10px;
}

.items-all {
  position: relative;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-multipliers {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100px;
}

.item {
  width: 310px;
  height: 50px;
  background-color: var(--darkbg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.item:active {
  transform: scale(99%);
}

.item:active {
  filter: brightness(90%);
}

.item-image {
  height: 50px;
}

.item-left {
  padding-left: 5px;
  width: 150px;
}

.item-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.item-title {
  font-size: 2em;
  font-weight: 600;
}

.item-counter {
  font-size: 3em;
  text-align: right;
  padding: 5px;
  font-weight: 600;
}

.noti-icon {
  filter: invert();
  position: absolute;
  width: 30px;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.noti-icon:hover {
  transform: scale(110%);
}

.noti-icon:active {
  transform: scale(100%);
}

.notis {
  position: absolute;
  height: calc(100% - 47px);
  width: 20%;
  right: -25%;
  padding: 10px;
  z-index: 5;
  background-color: var(--darkbg);
  border-left: 2px solid var(--darkerbg);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  transition: right cubic-bezier(0, 1, 0.75, 1) 0.5s;
}

.notis-header {
  display: flex;
  align-items: center;
  background-color: var(--blackTP);
  text-align: center;
  padding-right: 30px;
  font-weight: 600;
}

.notis-img {
  width: 30px;
  filter: invert();
  cursor: pointer;
}

.notis-img:hover {
  transform: scale(110%);
}

.notis-img:active {
  transform: scale(100%);
}

.notis-title {
  font-size: 2em;
  width: 100%;
}

.noti {
  margin-top: 20px;
  background-color: var(--darkerbg);
  border-radius: 5px;
  padding: 5px;
}

.noti-title {
  font-size: 1.5em;
  font-weight: 600;
}

.noti-desc {
  font-size: 1.1em;
}

.rank-progress {
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  transition: all ease-in-out 0.5s;
}

.train {
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 200px;
  cursor: pointer;
  transition: left linear 30s;
}
