:root {
  --bg: rgb(32, 28, 45);
  --darkbg: rgb(24, 22, 36);
  --darkerbg: rgb(18, 17, 27);
}

@font-face {
  font-family: renogare;
  src: url("fonts/renogare.otf");
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bg);
  font-family: renogare;
}

p,
a {
  color: white;
  margin: 0;
  text-decoration: none;
}

a:hover {
  transform: scale(105%);
}

a:active {
  transform: scale(100%);
}

body {
  margin: 0;
}

.debread {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 1920px;
  background-image: url(images/gradient.png);
  animation: gradient 5s linear infinite;
  display: inline;
}

@keyframes gradient {
  0% {
  }
  100% {
    background-position: 1920px;
  }
}

.topper {
  background-color: var(--darkbg);
  padding: 5px;
}

.topper-divider {
  display: inline;
  color: var(--darkerbg);
}

.center {
  text-align: center;
}

.counter-all {
  text-align: center;
  cursor: default;
}

.counter {
  font-size: 4em;
  margin-bottom: 0;
}

.cps-label {
  display: inline;
  color: gray;
}

.cps {
  display: inline;
  color: gray;
}

.cpc-label {
  display: inline;
  color: gray;
}

.cpc {
  display: inline;
  color: gray;
}

.eddie {
  width: 150px;
  margin: 50px;
  cursor: pointer;
  transition: transform ease-in-out 50ms;
}

.eddie:hover {
  transform: scale(105%);
}

.eddie:active {
  transform: scale(100%);
}

.section-info {
  background-color: var(--darkbg);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.section-buildings {
  background-color: var(--darkbg);
  padding: 10px;
}

.section-upgrades {
  margin-top: 10px;
  background-color: var(--darkbg);
  height: 120px;
}

.info-title {
  font-size: 2em;
  margin: 0;
}

.info-cps {
  margin: 0;
  display: inline;
}

.info-owned {
  margin: 0;
  display: inline;
}

.info-label {
  display: inline;
}

.buildings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buildings-prices {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.building-price {
  font-size: 1.5em;
  color: red;
  margin: 0;
}

.building {
  width: 75px;
  cursor: pointer;
  filter: brightness(75%);
  padding: 0px;
}

.building:hover {
  transform: scale(105%);
}

.building:active {
  transform: scale(100%);
}

.buildings {
  text-align: center;
}

.upgrades {
  display: grid;
  text-align: center;
}

.upgrade {
  width: 75px;
  padding-top: 10px;
  filter: brightness(75%);
}

.upgrade:hover {
  transform: scale(105%);
}

.upgrade:active {
  transform: scale(100%);
}

.upgrade-price {
  color: red;
  font-size: 1.5em;
  margin: 0;
}

.savebutton {
  text-align: center;
  background-color: var(--darkbg);
  width: 100px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid var(--darkerbg);
}

.savebutton:hover {
  transform: scale(105%);
}

.savebutton:active {
  transform: scale(100%);
}

.savebutton-text {
  font-size: 1.5em;
}

.version {
  color: black;
  opacity: 50%;
  position: absolute;
  bottom: 0;
}
