:root {
  --lightbg: rgb(44, 36, 59);
  --bg: rgb(32, 28, 45);
  --darkbg: rgb(24, 22, 36);
  --darkerbg: rgb(18, 17, 27);
  --upgrades: 0;
}

@font-face {
  font-family: renogare;
  src: url("fonts/renogare.otf");
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bg);
  font-family: renogare;
}

p,
a {
  color: white;
  margin: 0;
  text-decoration: none;
}

.backbutton {
  text-align: center;
  position: absolute;
  padding: 5px;
  background-color: var(--darkbg);
  width: 50px;
  left: 5px;
  top: 5px;
  cursor: pointer;
  text-decoration: none;
}

.backbutton:hover {
  transform: scale(105%);
}

.backbutton:active {
  transform: scale(95%);
}

.title {
  font-size: 3em;
  text-align: center;
}

.stats-title {
  text-align: center;
  font-size: 2.5em;
  padding: 10px;
}

.stats-body {
  background-color: var(--darkbg);
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.stats-title {
  text-align: center;
  font-size: 1.75em;
}

.stats-text-body {
  padding: 10px;
}

.stats-text {
  display: inline;
  font-size: 1.25em;
}
